[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
scipy = "*"
pandas = "*"
jupyter = "*"
cltk = {git = "https://github.com/cltk/cltk.git", editable = true}
tableprint = "*"

[dev-packages]
jupyter = "*"
