[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
scipy = "*"
pandas = "*"
jupyter = "*"
cltk = {editable = true, git = "https://github.com/diyclassics/cltk.git", ref = "stop-update"}

[dev-packages]
jupyter = "*"
